<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">

 <body>
<div th:fragment="shopViewHead" id="photo" class="jumbotron jumbotron-fluid text-center text-white">
  <div class="container">
    <h3>Amazing Book Store</h3>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci blanditiis, culpa delectus, est ex facilis hic minima non nostrum repellat suscipit ullam voluptas. Accusamus asperiores ipsam nesciunt quas, quo ratione.</p>
    <a href="#" class="btn btn-info btn-lg">Register</a>
  </div>
  <style>
    #photo{
      background: url("https://i.pinimg.com/originals/7a/07/5a/7a075ae77e31249f5585f38cbeb77dd0.jpg");
      background-size: cover;
      background-repeat: no-repeat;

    }
  </style>
</div>



</body>
</html>