<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<section  th:fragment="homeIcon" class="py-5">
  <div class="row">
    <div class="col-md-4 mb-3 text-center">
      <i class="fa-solid fa-book"></i>
      <h3>Explore</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, fugit.</p>
    </div>

    <div class="col-md-4 mb-3 text-center">
      <i class="fa-thin fa-cloud"></i>
      <h3>Find</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, fugit.</p>
    </div>

    <div class="col-md-4 mb-3 text-center">
      <i class="fa-regular fa-cart-shopping"></i>
      <h3>Buy</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, fugit.</p>
    </div>

  </div>
</section>
</body>
</html>